.landing-banner {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../assets/ttk.jpg');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(2px) grayscale(1);
  z-index: -99;
}

.text-center {
  text-align: center;
  /* height: 15%; */
}

.text-card {
  width: 50%;
  padding: 15px;
}

.logo-card {
  width: 100%;
  height: 250px;
}

.logo {
  width: 200px;
  height: 100px;
}

.landing-part1,
.landing-part4 {
  width: 100%;
  height: 100%;
} /* height vh -> % */

.landing-spacing {
  padding-bottom: 0 !important;
}

.landing-container {
  max-width: 30%;
  margin-top: 3rem 0.5% 0 0.5%;
}

.landing-container2 {
  justify-content: space-around;
  align-content: center;
  height: 100%;
  margin-bottom: 3%;
}

.landing-WLS {
  /*
  background-color: #eb5a00;
  border-radius: 5px !important;
  border: 1px solid #eb5a00 !important;
  */
  height: fit-content !important;
  margin-top: 1rem;
}

.landing-part4 {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  background-color: white;
}

.footer-item {
  width: 18%;
  max-width: fit-content;
  margin-left: 2%;
  margin-right: 2%;
}

.footer-list {
  padding: 0 !important;
  overflow: hidden;
}

.bg-white {
  background-color: #fff;
}

.bg-green {
  background: #499437 !important;
}

.bg-orange {
  background-color: #FF6505;
}

.part1 {
  background-color: aliceblue;
}

.landing-title-container {
  max-height: 5rem;
}

.landing-stepper {
  position: fixed;
  bottom: 10px;
  left: calc(50% - 112px);
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border-radius: 20px !important;
  filter: contrast(100%);
  padding: 0 !important;
} /* Changed position absolute -> fixed */

.next-back-btns {
  color: #fff !important;
}

.next-back-btns:hover {
  color: #eb5a00 !important;
}

.next-back-btns:disabled {
  color: #404040 !important;
}

.MuiMobileStepper-dot {
  background-color: #fff !important;
  margin: 0 6px !important;
  width: 10.5px !important;
  height: 10.5px !important;
}

.MuiMobileStepper-dotActive {
  background-color: #eb5a00 !important;
}

.bw-logo {
  filter: grayscale(1) !important;
  width: 100%;
}

.text-white {
  color: #fffb !important;
}

.text-black {
  color: #000000 !important;
}

.landing-bg-dark {
  background-color: #000a;
}

.intro-container {
  max-width: 27rem;
  height: 27rem;
  border-radius: 14rem;
  margin-bottom: 1rem;
  padding: 2rem;
}

.landing-header-offset {
  margin-top: 3rem;
  font-size: 265%;
  font-weight: 400;
  letter-spacing: 0em;
  text-decoration: underline;
}

.landing-text {
  margin-top: 1.5rem !important;
  font-size: 140%;
  font-weight: 400;
}

.landing-text2 {
  margin-top: 2rem;
  font-size: 130%;
  font-weight: 300;
}

.landing-partner {
  max-height: 130px;
  filter: grayscale(1);
}

.landing-partner-invert {
  max-height: 130px;
  filter: grayscale(1) invert(1);
}

.card-header {
  font-size: 1.5rem;
  font-weight: 400;
}

#partner-container {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  overflow: hidden;
  border-radius: 3.5rem;
}

#partner-box { 
  display: flex !important;
  margin: 0 3%;
  justify-content: space-between;
  /* Removed animation from landing page
  -webkit-animation-name: move;
  animation-name: move;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: right;
  animation-direction: right;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear; */
}

/* Removed animation from landing page
#partner-box:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@keyframes move {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -1175px;
  }
} */

.lifespan-container {
  display: flex !important;
  overflow: visible;
}

.lifespan-step {
  margin: 1rem;
  flex: 1;
}

.landing-appbar {
  background-color: #FF6505 !important;
  height: 60px;
} /* #eb5a00 original background orange */

.landing-logo {
  color: #000000 !important;
  text-decoration: none !important;
  font-weight: bolder !important;
  letter-spacing: 1px;
} /* #fff original text color */

.landing-nav-link {
  color: #000000 !important;
  text-decoration: none !important;
  font-weight: bold !important;
  margin-right: 1rem;
  /* padding-left: 5.8rem; */
} /* #fff original text color */

.landing-nav-link2 {
  color: #000000 !important;
  text-decoration: none !important;
  font-weight: bold !important;
  /* padding-left: 1.5rem; */
} /* #fff original text color */

.landing-login {
  color: #000000 !important;
  text-decoration: none !important;
  font-weight: bold !important;
} /* #fff original text color */

.bw-logo2 {
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  width: 110px !important;
  filter: invert(1) grayscale(1) !important;
}

.background {
  background: none;
}

/* .lifespan-connector1 {
  width: 100%;
  height: 10px;
  background: #499437;
  position: absolute;
  /* left: calc(-50% + 20px);
  right: calc(50% + 20px);
  top: 20%;
  flex: 1 1 auto;
 } */
/*
.lifespan-connector2 {
  width: 100%;
  height: 10px;
  background: #499437;
  position: absolute;
  left: calc(-50% + 20px);
  right: calc(50% + 20px);
  bottom: 20%;
  flex: 1 1 auto;
} */
